a {
    cursor: pointer;
}

#logo{
    font-family: Cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    color: #ff8000;
    background-color: #eeeeee;
}